<div
  class="container"
  style="padding: 80px; padding: 30px; background-color: white; height: 92%"
>
  <app-navi></app-navi>
  <br />
  <div class="card shadow p-3 rounded col-12" style="height: 100%">
    <mat-accordion style="padding-left: 3%; padding-right: 3%; padding-top: 3%">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let product of crt.products"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Stok Kod: {{ product.stockCode }} </mat-panel-title>
          <mat-panel-title>
            Seri Numarası: {{ product.serialNumber }}
          </mat-panel-title>
          <mat-panel-title> Adet: {{ product.quantity }} </mat-panel-title>

          <mat-panel-title style="margin-left: 0%">
            <div style="margin-top: -10px">
              <button mat-icon-button color="primary">
                <mat-icon>update</mat-icon>Güncelle
              </button>
            </div>
          </mat-panel-title>

          <mat-panel-title style="margin-left: 0%; margin-right: -50%">
            <div class="example-button-row">
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>Sil
              </button>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="content" >
          <div fxLayout="row wrap">
            <div
              style="padding: 1px;"
              fxFlex="20%"
              *ngFor="let productOption of product.productOptions"
            >
              <mat-card class="ma-elevation-z4" style="background-color:lightgoldenrodyellow;">
                <mat-card-content>
                  <b>{{ productOption.options.name }}</b>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <div *ngFor="let product of crt.products">
    <ul>
      <li>{{product.serialNumber}}</li>
      <li *ngFor="let productOption of product.productOptions">{{productOption.options.name}}</li>
    </ul>
  
    </div> -->
  </div>
</div>
